
.testing-calendar {}

.testing-calendar-container {
  height: 100vh;
  width: 100vw;
}

.fc .fc-daygrid-day-frame {
  background-color: gray;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.fc .fc-toolbar.fc-header-toolbar {
  background-color: gray;
  margin-bottom: 0em;
  position: sticky;
  top: 0;
  z-index: 10;
}

.fc-view-harness {
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} 

.fc-view-harness-active {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* .fc-view-harness-active {
  background-color: gray;
  flex-grow: 1;
} */

/* .fc-theme-standard {
  background-color: gray;
}

.fc-header-toolbar {
  background-color: gray;
}

.fc-view-harness-active {
  background-color: gray;
} */