
@keyframes slideUp {
  from {
    transform: translateY(100%) scale(1);
    opacity: .6;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(100%) scale(1);
    opacity: .6;
  }
}

/* Class to trigger entry animation */
.modal-enter {
  animation: slideUp 0.4s ease-out forwards;
}

/* Class to trigger exit animation */
.modal-exit {
  animation: slideDown 0.4s ease-in forwards;
}

/* -----MODAL STYLING SECTION----- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 100%;
  text-align: center;
  z-index: 1001;
}


/* -----EVENT FORM STYLING SECTION----- */

.form-container {
  background-color: rgb(246, 246, 246);
  overflow-y: auto;
  height: 85vh;
  padding: 5px;
  text-align: left;
  border-radius: 10px;
}

.form-spacer {
  height: 400px;
}

.form-row-div {
  margin-top: 15px;
  display: flex;
  margin-bottom: 15px;
  background-color: transparent;
}

.form-textarea-notes {
  height: 90px;
  font-size: 25px;
  width: 98%;
}

.form-input-field-notes {
  border: none;
  outline: none;
  height: 90px;
  width: 100%;
  font-size: 25px;
  background-color: transparent;
}

.form-cost-field {
  font-size: 30px;
  height: 30px;
  width: 40%;
  box-shadow: 1px 1px 1px black;
}

.form-input-field-time {
  display: flex;
  padding: 0px 5px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 30px;
  width: fit-content;
}

.form-row-name .form-input-field {
  display: flex;
  height: 70px;
  font-size: 40px;
  padding: 0px 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-row-color-div {
  margin-bottom: 10px;
}

.form-color-main-row {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.form-image-logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.form-selected-color {
  font-size: 25px;
  width: 100%;
}

.colors-list {
  font-size: 25px;
}

.form-input-field-info {
  display: flex;
  padding: 0px 5px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 30px;
  margin-left: 5px;
  width: fit-content;
}

.form-label {
  font-size: 30px;
  width: fit-content; 
  padding-left: 3px;
}

.form-input-field {
  font-size: 30px;
  height: 30px;
  width: 95%;
}

.form-checkbox {
  height: 30px;
  width: 30px;
}

.form-jobtype-label {
  font-size: 30px;
  width: 150px; 
  text-align: right;
  display: block;
}

.form-date-container {
  display: flex; 
  flex-grow: 1; 
  text-align: center;
}

.form-date-container-row {
  flex-grow: 1;
  text-align: center;
}

.form-starttime-time {
  flex-grow: 1;
  text-align: center;
}



.top-page-nav {
  position: sticky;
  outline: 10px solid rgb(246, 246, 246);
  border: 10px solid rgb(246, 246, 246);
  box-sizing: border-box;
  top: 0;
  z-index: 10; /* ⬅️ keep it above scrollable content */
  background-color: rgb(246, 246, 246); /* ⬅️ must set background or it’ll be see-through */
  display: flex;
  justify-content: space-between; /* pushes children to far ends */
  align-items: center; /* optional: aligns them vertically */
  padding: 5px; /* optional: adds spacing inside */
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
}

.top-button {
  text-decoration: none;
  border: none;
  color: rgb(2, 85, 163);
  background-color: rgb(246, 246, 246);
  font-size: 25px;
  font-weight: 600;
}

.top-button:active {
  color: rgb(122, 184, 242);
}

.delete-event-button {
  border: 5px solid rgb(224, 0, 0);
  color: white;
  background-color: rgb(213, 0, 0);
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 5px;
  box-shadow: 5px 5px 5px 1px black;
  display: block; /* or keep it as flex */
  margin: 0 auto; /* centers it horizontally */
  margin-top: 15px;
}

.delete-event-button:active {
  color: white;
  background-color: rgb(213, 0, 0);
  box-shadow: 1px 1px 1px 1px black;
  transform: translateY(2px);
}












/* -----CALENDAR STYLING SECTION----- */

/* Disable pointer events only in month view */
.fc-dayGridMonth-view .fc-event {
  pointer-events: none;
}

/* Make blue circle around current day number */
.fc-day-today {
  background-color: transparent !important;
}
.fc-day-today .fc-daygrid-day-number {
  color: white;
  background-color: rgb(31, 97, 151);
  border-radius: 50%;
}

/* >>> Calendar Toolbar Section <<< */
/* Calendar Toolbar - Main Container */
.fc .fc-toolbar.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 1px 1px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.fc-toolbar-chunk {
  padding: 5px 5px;
}

/* Calendar Toolbar - Date Title Element */
.fc-toolbar-chunk:nth-child(1) {
  font-size: 12px;
}

/* Calendar Toolbar - Search bar Element */
.fc-toolbar-chunk:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: white;
}
.fc-toolbar-chunk:nth-child(2) .fc-button {
  flex: 1;
  width: 100%;
  border: 5px solid rgb(151, 151, 151);
  background-color: rgb(240, 240, 240);
  color: rgb(90, 90, 90);
  border-radius: 10px;
  font-weight: bold;
}
.fc-toolbar-chunk:nth-child(2) .fc-button:active {
  outline: none;
  box-shadow: none;
  color: white;
  background-color: rgb(151, 151, 151);
  border: 5px solid rgb(151, 151, 151);
}
.fc-toolbar-chunk:nth-child(2) .fc-button:focus {
  outline: none;
  box-shadow: none;
}
.fc-toolbar-chunk:nth-child(2) .fc-button:focus:active {
  outline: none; 
  box-shadow: none;
}

/* Calendar Toolbar - Calendar Button */
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button {
  background-color: rgb(31, 97, 151);
  color: rgb(255, 255, 255);
  border: 5px solid rgb(11, 68, 154);
  box-shadow: 4px 4px 4px black;
  border-radius: 10px;
  padding: 2px 2px;
  font-size: 20px;
  transition: transform 0.05s ease;
}
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button:active {
  transform: translateY(2px);
  background-color: rgb(39, 79, 152);
  box-shadow: none;
}
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button:focus {
  outline: none;
  box-shadow: 2px 2px 2px black;
}


/* >>> Calendar Content Section <<< */
/* Calendar Content - Stretch content to bottom of screen */
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

/* Calendar Content - Center Day # and hide event dot + time */
.fc .fc-daygrid-day-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc-daygrid-event-dot {
  display: none;
}
.fc-event-time {
  display: none;
}

/* Calendar Content - Font settings & Frame Height */
.fc .fc-daygrid-event-harness {
  font-size: 13px;
  /* font-weight: bold; */
}
.fc-daygrid-day-frame {
  height: 100px;
  overflow: hidden;
  position: relative;
}
