
/* -----MODAL STYLING SECTION----- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 90%;
  text-align: center;
  z-index: 1001;
}


/* -----EVENT FORM STYLING SECTION----- */

.form-name {}
.form-name-input {}
.form-address {}
.form-addres-input {}
.form-phone {}
.form-phone-input {}
.form-start-time {}
.form-start-time-input {}
.form-end-time {}
.form-end-time-input {}

.job-cost-type-container {}
.form-windows {}
.form-windows-checkbox {}
.form-windows-inputs {}
.form-windows-cost-input {}
.form-windows-notes-input {}
.form-pressure-washing {}
.form-pressure-washing-checkbox {}
.form-pressure-washing-inputs {}
.form-pressure-washing-cost-input {}
.form-pressure-washing-notes-input {}
.form-misc-work {}
.form-misc-work-checkbox {}
.form-misc-work-inputs {}
.form-misc-work-cost-input {}
.form-misc-work-notes-input {}

.form-email {}
.form-email-input {}
.form-notes {}
.form-notes-input {}
.form-color {}
.form-color-input {}

.update-or-save-button {}
.delete-event-button {}
.close-window-button {}



/* -----CALENDAR STYLING SECTION----- */

/* Disable pointer events only in month view */
.fc-dayGridMonth-view .fc-event {
  pointer-events: none;
}

/* Make blue circle around current day number */
.fc-day-today {
  background-color: transparent !important;
}
.fc-day-today .fc-daygrid-day-number {
  color: white;
  background-color: rgb(31, 97, 151);
  border-radius: 50%;
}

/* >>> Calendar Toolbar Section <<< */
/* Calendar Toolbar - Main Container */
.fc .fc-toolbar.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 1px 1px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.fc-toolbar-chunk {
  padding: 5px 5px;
}

/* Calendar Toolbar - Date Title Element */
.fc-toolbar-chunk:nth-child(1) {
  font-size: 12px;
}

/* Calendar Toolbar - Search bar Element */
.fc-toolbar-chunk:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: white;
}
.fc-toolbar-chunk:nth-child(2) .fc-button {
  flex: 1;
  width: 100%;
  border: 5px solid rgb(151, 151, 151);
  background-color: rgb(240, 240, 240);
  color: rgb(90, 90, 90);
  border-radius: 10px;
  font-weight: bold;
}
.fc-toolbar-chunk:nth-child(2) .fc-button:active {
  outline: none;
  box-shadow: none;
  color: white;
  background-color: rgb(151, 151, 151);
  border: 5px solid rgb(151, 151, 151);
}
.fc-toolbar-chunk:nth-child(2) .fc-button:focus {
  outline: none;
  box-shadow: none;
}
.fc-toolbar-chunk:nth-child(2) .fc-button:focus:active {
  outline: none; 
  box-shadow: none;
}

/* Calendar Toolbar - Calendar Button */
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button {
  background-color: rgb(31, 97, 151);
  color: rgb(255, 255, 255);
  border: 5px solid rgb(11, 68, 154);
  box-shadow: 4px 4px 4px black;
  border-radius: 10px;
  padding: 2px 2px;
  font-size: 20px;
  transition: transform 0.05s ease;
}
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button:active {
  transform: translateY(2px);
  background-color: rgb(39, 79, 152);
  box-shadow: none;
}
.fc .fc-toolbar .fc-button.fc-dayGridMonth-button:focus {
  outline: none;
  box-shadow: 2px 2px 2px black;
}


/* >>> Calendar Content Section <<< */
/* Calendar Content - Stretch content to bottom of screen */
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

/* Calendar Content - Center Day # and hide event dot + time */
.fc .fc-daygrid-day-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc-daygrid-event-dot {
  display: none;
}
.fc-event-time {
  display: none;
}

/* Calendar Content - Font settings & Frame Height */
.fc .fc-daygrid-event-harness {
  font-size: 13px;
  /* font-weight: bold; */
}
.fc-daygrid-day-frame {
  height: 100px;
  overflow: hidden;
  position: relative;
}
